<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regression Model</title>
</head>

<body>

<form method="POST">
  <input type="text" name="date" placeholder="Enter date">
    <input type="text" name="ne" placeholder="Enter الحي">
    <input type="text" name="area" placeholder="Enter area">
    <input type="text" name="sales" placeholder="number of sales">
    <input type="text" name="year" placeholder="year">
    <input type="text" name="yearly" placeholder="yearly">




   <input type="submit" value="submit">
</form>

<p>
{{ val }}
</p>

</body>
</html>